@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Roboto Mono', monospace;
}

body{
	background: #585c68;
	font-size: 14px;
	line-height: 22px;
	color: #555555;
}

.bold{
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;;

}

.semi-bold{
	font-weight: 600;
	font-size: 16px;

}

.onlineCV{
	width: 800px;
	height: auto;
	display: flex;
	margin: 50px auto;
}
